/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
}

/* CONTAINER */
.container {
  width: 90%;
  margin: auto;
}

/* HEADER */
header {
  background: #0d6efd;
  color: white;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
}

/* NAV */
.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* SLIDER */
.slider {
  overflow: hidden;
}

.slides {
  display: flex;
  width: 300%;
  animation: slide 12s infinite;
}

.slide {
  width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

/* TEXT ON SLIDER */
.text {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: white;
}

/* ANIMATION */
@keyframes slide {
  0% { transform: translateX(0); }
  33% { transform: translateX(-100%); }
  66% { transform: translateX(-200%); }
}

/* SECTIONS */
.section {
  padding: 50px 0;
  text-align: center;
}

.light {
  background: #f4f4f4;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: orange;
  color: white;
  text-decoration: none;
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}

/* WHATSAPP BUTTON (MODERN STYLE) */
..whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 55px;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #25D366;
  border-radius: 50%;

  box-shadow: 0 4px 12px rgba(0,0,0,0.3);

  transition: 0.3s;
  z-index: 1000;
}

.whatsapp img {
  width: 28px;
}

/* HOVER EFFECT */
.whatsapp:hover {
  transform: scale(1.1);
  background: #1ebe5d;
}
.whatsapp::after {
  content: '';
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: rgba(37, 211, 102, 0.5);
  animation: pulse 1.5s infinite;
  z-index: -1;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 0.7; }
  70% { transform: scale(1.6); opacity: 0; }
  100% { transform: scale(1); opacity: 0; }
}
.gallery {
  padding: 40px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}

/* FULL IMAGE VIEW */
#imageBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
}

#imageBox img {
  width: 80%;
  max-width: 800px;
}
